# Maven
target/

# Test Reports
test-output/
test-output/screenshots/

# Eclipse
.classpath
.project
.settings/

# Logs
logs/

# IDEs
.idea/
.vscode/

# OS files
Thumbs.db
.DS_Store

# Screenshots
test-output/screenshots/
