<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SDET Automation Suite">

    <listeners>
        <listener class-name="com.sdet.framework.listeners.TestListener"/>
    </listeners>

    <test name="All Tests">
        <classes>
            <class name="com.sdet.framework.ui.FirstSeleniumTest"/>
            <class name="com.sdet.framework.api.UserApiTest"/>
            <class name="com.sdet.framework.e2e.UserE2ETest"/>
        </classes>
    </test>

</suite>
